---
import { Icon } from "astro-icon";
---

<style lang="css">
  [astro-icon] {
    height: 24px;
  }
  [astro-icon="mdi:account"] {
    color: red;
    /* OR */
    fill: red;
  }
</style>

<div class="flex items-center justify-center mt-4">
  <a href="#" class="ml-4" aria-label="Email" rel="noopener">
    <Icon name="fa-regular:envelope" />
  </a>
  <a href="#" class="ml-4" aria-label="Github" rel="noopener">
    <Icon name="fa-brands:github" />
  </a>
  <a href="#" class="ml-4" aria-label="Linkedin" rel="noopener">
    <Icon name="fa-brands:linkedin" />
  </a>
  <a href="#" class="ml-4" aria-label="Xing" rel="noopener">
    <Icon name="fa-brands:xing" />
  </a>
</div>
